/* Add CSS Styling */
p {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.first {
    color: blue;
    font-size: 24px;
}

.second {
    font-size: 24px;
}

.third {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}