/* Add CSS Styling */
.first {
    font-size: 28px;
    font-family: Helvetica,"Times New Roman",sans-serif;    
}
.first.alpha {
    background-color: black;
    color: white;
}
.first.beta {
    background-color: yellow;
}